body{
    font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
.landing{
    background-color: #FBEAEB;
    min-height: calc(100vh - 56px);
    background-image: url('/static/images/perfume_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #3e3e3e;
}
.navbar button{
    background-color: #FBEAEB;
    color: #3e3e3e;
    border-radius: 20px;
}
.navbar button:hover{
    background-color: #FBEAEB;
    color: black;
    border-color: #3e3e3e;
}
.landing div button{
    margin: 10px;
    border-color: #ba666a;
    color: white;
}
.landing div button:hover{
    background-color: #ba666a;
    border-color: #ba666a;
}
.landing div p{
    color: #cbc7c7;
}
.custom-select{
    border: none;
}
.custom-search{
    /* border: 1px solid #ba666a; */
    border: none;
    border-radius: 10px ;
}
.search{
    border: 1px solid #ba666a;
    border-radius: 10px ;
    width: 50%;
}
/* CSS */
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
address {
    font-style: italic;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
/* footer is hide for now */
footer{
    display: none;
}
button{
    margin: 5px;
}