{% extends 'admin/base_admin.html' %}
{% block content %}
{% with messages = get_flashed_messages()%}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert alert-info">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category name</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <button class="btn btn-info">
                    <a href="/admin/edit/category/{{ category.id }}">edit</a>
                </button>
                <button class="btn btn-danger">
                    <a href="/admin/delete/category/{{ category.id }}"
                        onclick="return confirm('Are you sure you want to delete this Category?')">delete</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-info add-category">Add Category</button>
<form action="/admin/category" method="post" class="m-3 category-form">
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
    {% for error in errors %}
    <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% endfor %}
    <label for="name" class="form-label">category name</label>
    <input type="text" required name="name" class="form-control">
    <input type="submit" class="btn btn-success m-3">
</form>
{% endblock %}