{% extends 'admin/base_admin.html' %}
{% block content %}
{% with messages = get_flashed_messages()%}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert alert-info">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">full name</th>
            <th>email</th>
            <th>created at</th>
            <th>updated at</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.updated_at }}</td>
            <td>
                <button class="btn btn-info">
                    {% if not user.is_ban %}
                    <a href="/admin/user/ban/{{ user.id }}">ban</a>
                    {% else %}
                    <a href="/admin/user/remove_ban/{{ user.id }}">Remove ban</a>
                    {% endif %}
                </button>
                <button class="btn btn-danger">
                    <a href="/admin/delete/user/{{ user.id }}">delete</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}