{% extends 'base.html' %}
{% block body %}
<div class="landing d-flex justify-content-center align-items-center">
    <div class="text-light text-center ">
        <h1>Ethereal Aromas</h1>
        <p>Indulge in the essence of luxury. Elevate your presence with our curated perfumes, where sophistication meets
            scent.</p>
        <button type="button" class="btn btn-outline-primary">Get Started</button>
    </div>
</div>
<div class=" d-flex justify-content-center">
    <div class="search d-flex justify-content-center m-5">
        <form action="" method="">
            <select name="categories" class="custom-select" id="">
                <option selected>category</option>
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="search" placeholder="Search" class="custom-search">
            <button type="button" class="btn m-1">search</button>
        </form>
    </div>
</div>
<div class="products container d-flex justify-content-around row m-auto">
    {% for product in pr %}
    <div class="col-lg-3 col-md-4 col-sm-6 mt-1 mb-5">
        <div class="card product-card">
            <img src="/static/images/perfume_1.jpg" class="card-img-top" alt="Product Image" width="100px"
                height="200px">
            <div class="card-body">
                <a href="/product/{{ product.id }}" style="text-decoration: none;color: black;"><h5 class="card-title">{{ product.title }}</h5></a>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">${{ product.price }}</p>
                <button class="button-55" role="button">Buy Now</button>
                <button class="button-55 col-md-6" role="button">Add to Cart</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}