<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="first">
        <div class="container">
            <div class="elements">
                <form action="/login" method="post">
                    <label for="">email</label><br>
                    <input type="email" name="email" id=""><br>
                    <label for="">password</label><br>
                    <input type="password" name="password"><br>
                    <input type="submit" value="login">
                </form>
                <a href="{{ url_for('register') }}">I dont have an Account !</a>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>