{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container ">
    <div class="d-flex justify-content-center align-items-center">
        <img src="/static/images/user-photo.jpg" alt="user photo" class="d-inline">
    </div>

    <h2 class="text-center">Personel info:</h2>
    <div class="d-flex justify-content-center align-items-center">
        <form action="" method="" class="col-lg-8 col-md-12">
            <div class="form-group">
                <label for="first-name">first name</label>
                <input type="text" name="first-name" class="form-control" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <label for="last-name">last name</label>
                <input type="text" name="last-name" class="form-control" value="{{ user.last_name }}">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" name="email" class="form-control" value="{{ user.email }}">
            </div>
            <!-- <div class="form-group">
                <label for="phone">phone</label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
                <label for="age">age</label>
                <input type="text" name="age" class="form-control">
            </div> -->
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary col-sm-10 mt-2 mb-5">Update</button>

            </div>
        </form>
    </div>
    <!-- <h2 class="">Addresses</h2> -->
    <div class="d-flex justify-content-center align-items-center">
        <div class="address d-flex justify-content-around row m-auto ">
            {% for address in user.addresses %}
            <address class="col-lg-5 col-md-6 col-sm-12 mt-1 mb-5">
                <input type="text" hidden value="{{ address.id }}">
                <p>full name: {{ user.first_name }} {{ user.last_name }}</p>
                <p>country: {{ address.country }}</p>
                <p>province: {{ address.state }}</p>
                <p>city: {{ address.city }}</p>
                <p>zip-code: {{ address.zip }}</p>
                <p>address: {{ address.street }}</p>
                <button type="button" class="btn btn-info">
                    <a href="/edit/address/{{ address.id }}">edit</a>
                </button>
                <button type="button" class="btn btn-danger">
                    <a href="/delete/address/{{ address.id }}">delete</a>
                </button>
            </address>
            {% endfor %}
            <!-- <address class="col-lg-5 col-md-6 col-sm-12 mt-1 mb-5">
                <p>full name: Lorem ipsum dolor sit.</p>
                <p>country: Lorem ipsum dolor sit.</p>
                <p>province: Lorem ipsum dolor sit.</p>
                <p>city: Lorem ipsum dolor sit.</p>
                <p>zip-code: Lorem ipsum dolor sit.</p>
                <p>address: Lorem ipsum dolor sit.</p>
                <p>phone: Lorem ipsum dolor sit.</p>
                <button type="button" class="btn btn-info">edit</button>
                <button type="button" class="btn btn-danger">delete</button>
            </address>
            <address class="col-lg-5 col-md-6 col-sm-12 mt-1 mb-5">
                <p>full name: Lorem ipsum dolor sit.</p>
                <p>country: Lorem ipsum dolor sit.</p>
                <p>province: Lorem ipsum dolor sit.</p>
                <p>city: Lorem ipsum dolor sit.</p>
                <p>zip-code: Lorem ipsum dolor sit.</p>
                <p>address: Lorem ipsum dolor sit.</p>
                <p>phone: Lorem ipsum dolor sit.</p>
                <button type="button" class="btn btn-info">edit</button>
                <button type="button" class="btn btn-danger">delete</button>
            </address> -->
            <button type="button" class="btn btn-primary col-sm-10 add-address">add address</button>
            <form action="/add-address" method="post" class="m-3 address-form">
                <label for="country" class="form-label">country</label>
                <input type="text" required  name="country" class="form-control">
                <label for="state" class="form-label">state</label>
                <!-- <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea> -->
                <input type="text" required  name="state" class="form-control">
                <label for="city" class="form-label">city</label>
                <input type="text" required  name="city" class="form-control">
                <label for="zip" class="form-label">zip</label>
                <input type="text" required  name="zip" class="form-control">
                <label for="street" class="form-label">street</label>
                <input type="text" required  name="street" class="form-control">
                <input type="submit" class="btn btn-success m-3">
            </form>
        </div>
    </div>
</div>
{% endblock %}