{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/single_product.css') }}">
{% endblock %}
{% block body %}
<div class="container m-5 d-flex row m-auto mt-5">
    <div class="m-2 col-lg-5 d-flex justify-content-center align-items-center">
        <img src="/static/images/uploads/{{ product.image }}" alt="product photo" width="250px" height="300px">
    </div>
    <div class="m-1 col-lg-5">
        <h2>{{ product.title }}</h2>
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nihil similique qui odio praesentium
            nesciunt autem nobis veritatis assumenda aspernatur.
        </p> -->
        <p>qty: {{ product.quantity }}</p>
        <form action="/checkout" method="post">
        <input type="number" min="1" placeholder="1" class="mt-1 qty" name="quantity">
        <input type="text" name="product_id" value="{{ product.id }}" hidden>
        <h4 class="mt-1">price: <span class="price">{{ product.price }}</span>$</h4>
        <!-- <input type="radio" name="payement"> Cash on Delevry <br>
        <input type="radio"name="payement"> Master Card , Visa <br> -->
        <button class="button-55 mt-4" role="button">
            Buy Now
        </button>
    </form>
        </div>
    </div>
    <hr class="mt-5">
</div>
<div class="container">
    <h3 class="text-center">Description</h3>
    <p>{{ product.description }}</p>
</div>
<script src="/static/js/single_product.js"></script>
{% endblock %}