{% extends 'base.html' %}
{% block body %}
<div class="container m-5 d-flex row m-auto">
    <div class="m-2 col-lg-5 d-flex justify-content-center align-items-center" style="overflow: auto;">
        <img src="/static/images/perfume_1.jpg" alt="product photo" width="250px" height="200px">
    </div>
    <div class="m-1 col-lg-5">
        <h2>Product title</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nihil similique qui odio praesentium
            nesciunt autem nobis veritatis assumenda aspernatur.
        </p>
        <input type="number" min="1" placeholder="1">
        <h4>price: 19$</h4>
        <button class="button-55" role="button">Buy Now</button>
    </div>
    <hr class="mt-5">
</div>
<div class="container">
    <h3>Description</h3>
</div>

{% endblock %}